chromadb
duckduckgo-search
gradio
joblib
langchain
langchain-chroma
langchain-community
langchain-openai
langchain-huggingface
matplotlib
numpy
pandas
plotly
prophet
pypdf
python-dotenv
sentence-transformers
streamlit
tabulate
telebot
torch --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
unstructured[pdf]
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu